﻿@{
    ViewBag.Title = "Contact";
}

<section class="contact">
    
    <pre style="background-color: yellow; font-size: 20px;">
        Please DO contact me - I will ALWAYS have time for your projects!
    </pre>

    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="">Main:</span>
        <span>786-536-8723</span> <br/>
        <span>Please only contact me between 12:00 - 1:00 pm or after 6 pm (PST)</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span><a href="mailto:itai.roded@gmail.com">itai.roded@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Santa Monica, CA for now (I move a LOT - My career comes first!)<br />
    </p>
</section>