﻿@using IngredientsAndRecipes.Extensions
@using IngredientsAndRecipes.Models.IngredientsAndRecipes.RecipeEnteredByUser
@using IngredientsAndRecipes.UiHelpers
@using IngredientsAndRecipes.UiHelpers.DropDowns


@model RecipeEnteredByUserEditModel

@{
    ViewBag.Title = "Recipe Entered By User";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head_css
{
    <style type="text/css">
        
        .input-small { width: 50px; }

    </style>
}

@section scripts
{
    <script src="~/Scripts/IngredientsAndRecipes/RecipeEnteredByUser.js"></script>    
}

<h2>Enter A Recipe </h2>


@using (Html.BeginForm("RecipeEnteredByUser", "Home", FormMethod.Post, new {@id = ""}))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default panel-page-content">

        <div class="panel-heading">

            <div class="form-horizontal">
                    
                <fieldset class="fieldset">
    
                    <div class="control-group @Html.AddClassIfPropertyInError(m => m.Qty, "error")">

                        <label class="control-label">Qty (enter a number of the format X or as X.XX) </label>

                        <div class="controls">

                            @Html.TextBoxFor(m => m.Qty, new {@class = "input-small", @placeholder = "Please enter Qty"})

                            @Html.ValidationMessageFor(m => m.Qty, "", new {@class = "help-inline"})

                        </div>

                    </div>

                    <div class="control-group @Html.AddClassIfPropertyInError(m => m.IngredientCode, "error")">

                        <label class="control-label">Pick Ingredient (This are all the ingredients we have prices for)</label>

                        <div class="controls">

                            @Html.DropDownListFor(m => m.IngredientCode, ListItemHelper.Instance.GetAllPOssibleIngredients(), new {@class = "input-xlarge"})

                            @Html.ValidationMessageFor(m => m.IngredientCode, "", new {@class = "help-inline"})

                        </div>

                    </div>
                
                    <br/>
                
                    <button id="" type="submit" class="btn btn-success">
                        <span class="k-icon k-update"></span>
                        Add to recipe
                    </button>

                </fieldset>

            </div>

        </div>        

    </div>
}


@using (Html.BeginForm("NewRecipe", "Home", FormMethod.Get, new { @id = "" }))
{
    <h2>Start a new recipe!</h2>
    <button type="submit">New Recipe</button>
    
}
<br/>

@if (Model.RecipeInSession != null)
{
    <h2>Current Recipe</h2>
    List<KeyValuePair<String, String>> listOfIngredients = Model.RecipeInSession.ListOfIngredients;

    <table>
        <thead>
            <tr>
                <th>Qty</th>
                <th>Description</th>
            </tr>

        </thead>
        
        <tbody>
            @foreach (var kvp in listOfIngredients)
            {
                <tr>
                    <td>@kvp.Key</td>
                    <td>@kvp.Value</td>
                </tr>
            }

        </tbody>

    </table>
}

<button id="GetCurrentReciptPriecBtn" type="submit" class="btn btn-success">
    <span class="k-icon k-update"></span>
    Calculate current Recipe Price
</button>

<div id="resultsForRecipe"></div>