﻿@model IngredientsAndRecipes.Models.Tests.ScoreBig.ScoreBigModel

@{
    ViewBag.Title = "ScoreBig";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head_css
{
    <style type="text/css">
        th, td {
            padding: 10px !important;
            text-align: center !important;
        }

        table {
            border-collapse: collapse;
            border-spacing: 5px;
        }

        table, td, th {
            border: 1px solid black !important;
        }
    </style>
}



<h2>ScoreBig</h2>

<pre>
Smaple input:
    
EventC, 11.3221
EventA, 12.15
EventB, 2.3511
EventA, 93.142
EventC, 15.1511
EventC, 11.3221
EventA, 93.14

</pre>

<br/>
<div class="alert alert-info">
    <strong>This is a coding test!</strong> Copy/paste sample input above to the textarae below, or enter your own valid input.
    The input should be event name followed by a comma, followed by a price.
    Output would be all the events sorted by their name with the average price for each event!
</div>
@using (Html.BeginForm("ScoreBig", "Home", FormMethod.Post))
{
    <textarea name="inputScoreBig"></textarea>

    <br />
    <button class="btn-success">Submit</button>
}

@if (Model != null && Model.EventsAndAvegPrices.Any())
{
    
    <table>
        
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Event Avg price</th>
            </tr>
        </thead>
        
        @foreach (KeyValuePair<String, decimal> eventAndAvgPrice in Model.EventsAndAvegPrices)
        {
            <tr>
                <td>@eventAndAvgPrice.Key</td>
                <td>@eventAndAvgPrice.Value</td>
            </tr>
        }

    </table>
}
