﻿@{
    ViewBag.Title = "Tests";
}

@section scripts
{
    
    @*<script src="http://maxcdn.bootstrapcdn.com/bootstrap/2.2.0/js/bootstrap.min.js"></script>*@    
}


@section head_css
{ 
     
    @*<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/2.2.0/css/bootstrap.min.css">*@      

}

<h2>Tests</h2>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">UCLA questions
        <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        
        <li>@Html.ActionLink("Q1", "UCLA1", "Home")</li>
        <li>@Html.ActionLink("Q2", "UCLA2", "Home")</li>
        <li>@Html.ActionLink("Q3", "UCLA3", "Home")</li>
    </ul>
</div>


<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
        ScoreBig question
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">

        <li>@Html.ActionLink("Q1", "ScoreBig", "Home")</li>

    </ul>
</div>
<br/>
See more on my main site
<a href="http://itai.apphb.com"> itai.apphb.com </a>