﻿@model IngredientsAndRecipes.Models.Tests.UCLA.ColumnWithPicturesModel

@{
    ViewBag.Title = "UCLA3";
}

@section scripts
{


}


@section head_css
{

    <style type="text/css">
            .table td { border: 1px solid black; }
        </style>

}

<h2>UCLA3</h2>

<pre>
Javascript/html/css: write a page that delivers on the following requirements:
 
         1. Implement a page with html/css/js that has 2 columns, one right aligned 200px wide e.g., the other left aligned and variable width.
 
         2. Show an image in the variable width section that will draw as large as possible given the current browser side. Solve it two times, once each with the following assumptions (or explain why it doesn't matter and just solve it once)
 
               a. assume image dimensions are known by server
 
               b. assume image dimensions are NOT known by server
 
         3. When the browser resizes the image should grow or shrink appropriately
 
         4. The image should never jump, blip, skip-scale, or be scaled above its natural size (in other words if image is 400x300, even if window size would it grow it should never grow beyond 400x300).
 
4. The page should render in 3 major browsers such as Chrome, IE and Firefox.
</pre>

@{
    String colWidthFromModel = Model.Width + "px";
}



<table class="">

    <colgroup>
        <col style="width: 200px" />

        <col style="width: 400px" />

        @*<col style="width: @colWidthFromModel" />*@

    </colgroup>


    <thead>

        <tr>
            <th>200px right aligned</th>
            <th>left aligned</th>
        </tr>

    </thead>

    <tbody>

        @{

            for (int i = 1; i <= 5; i++)
            {
                <tr style="max-width: 600px;">
                    <td style="text-align :right;">
                        Image num: @i</td>
                    <td style="max-width: 400px;">

                        @{ String href = String.Concat("http://thecatapi.com/api/images/get.php?api_key=MTAx&id=6v", i.ToString());}
                        <img class=".img-responsive" src="@href">

                    </td>
                </tr>
            }
        }


    </tbody>




</table>

<br/>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
        UCLA questions
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">

        <li>@Html.ActionLink("Q1", "UCLA1", "Home")</li>
        <li>@Html.ActionLink("Q2", "UCLA2", "Home")</li>
        <li>@Html.ActionLink("Q3", "UCLA3", "Home")</li>
    </ul>
</div>
