﻿@{
    ViewBag.Title = "UCLA1";
}

<h2>UCLA1</h2>

<pre>
     
What is your favorite web application?
 TurboTax - Simple to use, usfull, and manage to have millions of users on it - at the same time (Jan - April).

 Are there sites that inspire you? What are they, and why do they inspire you? What do you like about these 
 sites and applications?

 www.w3schools.com
 I like the layout, site navigation and the simple way of verabl explantion along with short and to the point examples.

 stackoverflow.com
 I am very impressed with their quick elastic search, and the huge live community of Q&A.
 
Lastley I would say 
 www.healthgrades.com
 Where I used to work, Espesially there AutoSuggest Service used for the auto complete on saerches. 
 We built it having 5 differnt asynchronous tasks running, each calling a SOLR DB (noSQL DB) and later combined into a big Json response.
 We have used Handlebars, amplifyJS, and extended the use of jquery autocomplete, all demonstated on my maine site.

See more on my main site
<a href="http://itai.apphb.com"> itai.apphb.com </a>

</pre>



<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
        UCLA questions
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">

        <li>@Html.ActionLink("Q1", "UCLA1", "Home")</li>
        <li>@Html.ActionLink("Q2", "UCLA2", "Home")</li>
        <li>@Html.ActionLink("Q3", "UCLA3", "Home")</li>
    </ul>
</div>
