﻿@using IngredientsAndRecipes.Models.IngredientsAndRecipes

@model IngredientsAndRecipesViewModel

<h2>Computed Values </h2>

@if (Model != null && Model.ComputedRecipeValues.Any())
{
    <table>
        <thead>
            <tr>
                <th>Recipe #</th>
                <th>Tax</th>
                <th>Discount</th>
                <th>Total</th>
            </tr>
        </thead>
            
        <tbody>
            
            @foreach (ComputedRecipeValues computedRecipeValues in Model.ComputedRecipeValues)
            {
                <tr>
                    <td>@computedRecipeValues.RecipeNum</td>
                    <td>$@computedRecipeValues.SalesTaxOnAllNonProduce</td>
                    <td>($@computedRecipeValues.WellnessDiscountForOrganicItems)</td>
                    <td>$@computedRecipeValues.TotalCost</td>
                </tr>
            }

        </tbody>

    </table>
}
