﻿@using IngredientsAndRecipes.Models.IngredientsAndRecipes

@model IngredientsAndRecipesViewModel

<h2>Ingredients</h2>

@if (Model != null && Model.Ingredients.Count != 0)
{
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Qty</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        
        <tbody>
             
            @foreach (Ingredient ingredient in Model.Ingredients)
            {
                foreach (IngredientItem ingredientItem in ingredient.IngredientItems)
                {
                    <tr>
                        @{ String ingredientCategory = ingredient.Category.ToString(); }
                        <td>@ingredientCategory</td>
                        <td>@ingredientItem.Qty</td>
                        <td>@ingredientItem.Description</td>
                        <td>$@ingredientItem.Price</td>
                    </tr>
                }
            }

        </tbody>

    </table>
}
