﻿@using IngredientsAndRecipes.Models.IngredientsAndRecipes

@model IngredientsAndRecipesViewModel

<h2>Recipes</h2>

@{ int recipeCounter = 0;}

@if (Model != null && Model.Recipes.Count != 0)
{
    <table>
        <tr valign="top">
            
            @foreach (Recipe recipe in Model.Recipes)
            {
                <td>
                    @{ recipeCounter++; }

                    <b>Recipe number: @recipeCounter.ToString()</b>

                    <br/>

                    <table>
                        <thead>
                            <tr>
                                <th>Qty</th>
                                <th>Description</th>
                            </tr>
                        </thead>
        
    
                        <tbody>
            
                            @foreach (RecipeItem recipeItem in recipe.RecipeItems)
                            {
                                <tr>
                                    <td>@String.Format("{0:0.00}", recipeItem.ItemQty)</td>
                                    <td>@recipeItem.ItemDesc</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            }
        </tr>

    </table>
}
