﻿@using IngredientsAndRecipes.Models
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @RenderSection( "head_css", required: false )

        @{
            String siteRoot = Request.Url.Authority;
        }
        <link id="link-site-root" href="@siteRoot" />

        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    </head>
    <body>

        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Itai", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    @*<section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>*@
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("The Purpose Of This Website", "ThePurposeOfWebsite", "Home")</li> |
                            <li>@Html.ActionLink("Solution", "IngredientsAndRecipes", "Home")</li> |                            
                            <li>@Html.ActionLink("Recipe Entered By User", "RecipeEnteredByUser", "Home")</li> |
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li> |
                            <li>@Html.ActionLink("More Tests", "Tests", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div id="body">
            
          
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                
                @{ Html.RenderPartial("~/views/shared/_validation_errors.cshtml"); }

                @if (TempData.ContainsKey(ProjectConstants.REDIRECT_MESSAGE_KEY))
                {

                    <div class="alert alert-info">
                        <strong>@TempData[ProjectConstants.REDIRECT_MESSAGE_KEY]</strong>
                    </div>

                }


                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
