﻿@using IngredientsAndRecipes.Models

@{ 

    // Handles form level errors only.  Property specific errors must be included in the appropriate edit view.

    ModelState formModelState;

    if ( !ViewData.ModelState.IsValid ) {

        <div class="alert alert-block alert-error">

            @if( ViewData.ModelState.TryGetValue( ProjectConstants.VALIDATION_FORM_LEVEL_KEY, out formModelState ) ) {

                if ( formModelState.Errors.Any() ) {

                    <p><strong>Please correct the following errors:</strong></p>

                    <ul>

                        @foreach ( ModelError error in formModelState.Errors ) {

                            <li>@error.ErrorMessage</li>

                        }

                    </ul>

                }

            } else {

                <p><strong>Please correct the errors below.</strong></p>

            }

        </div>
@*
        @Html.ValidationSummary( false )
*@
    }

}
